@{
    ViewData["Title"] = "Student Helper";
}

<div class="text-center">
    <h1 class="display-4">Hi, I am your Student Helper</h1>
    <style>
      .button {
      background-color: #FF4500;
      border-radius: 5px;
      border: none;
      color: white;
      padding: 20px 34px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
      margin: 4px 2px;
      cursor: pointer;
      }
    </style>
    <a class="button" asp-area="" asp-controller="Helpers" asp-action="Index">Create Helper</a>
</div>